{% extends 'base.html' %}

{% block content %}
{% if user.id is answer.user.id %}
<h1>Delete Answer</h1>

  <h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <button class="grey darken-4 waves-effect waves-light btn" type="submit" name="Confirm" value="signup">Confirm Delete
      <i class="material-icons left">delete</i>
    </button>
    <a href="{% url 'answer_detail' answer.id %}">
      Cancel
    </a>
  </form>
{% else %}
<p>You are not allowed here and you know it ;) </p>
{% endif %}
  
{% endblock %}