{%extends 'base.html'%}

{%block content%}
{% if user.id is answer.user.id %}
{% if object %}
<h1>Update Answer</h1>
{% else %}
<h1>Add Answer</h1>
{% endif %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.media}}
        {{form.as_table}}
    </table>
    <button id="submit-btn" class="grey darken-4 waves-effect waves-light btn" type="submit" name="Confirm" value="signup">
        Save Changes
        <i class="material-icons left">save</i>
    </button>
</form>
{% else %}
<p>You are not allowed here and you know it ;) </p>
{% endif %}


<script>
    const dateElement = document.getElementById('id_date');
    M.Datepicker.init(dateElement, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
</script>

{% endblock %}