{%extends 'base.html'%}

{%block content%}
    <h1>Answer Form</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <input type="submit" value="Submit!" class="btn blue">
    </form>

    <script>
        const dateElement = document.getElementById('id_date');
        M.Datepicker.init(dateElement, {
          format: 'yyyy-mm-dd',
          defaultDate: new Date(),
          setDefaultDate: true,
          autoClose: true
        });
        </script>

{% endblock %}