{% extends 'base.html' %}

{% block content %}
<h1>Change Password</h1>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            {{ error|escape }}
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        {{ error|escape }}
    {% endfor %}
{% endif %}

<form id="signup-form" action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
   <div class= 'rules'> {{ form.as_p }} </div>
    <button id="submit-btn" class="grey darken-4 waves-effect waves-light btn" type="submit" name="Confirm" value="signup">Save Changes
        <i class="material-icons left">key</i>
    </button>
</form>

{% endblock %}

