<style>
.q {
font-size: x-large;
font-weight: bold;

}
</style>

{% extends 'base.html' %}
{% block content %}
<div class="bkg">
<h1>FAQ</h1>
<hr>
<p>
    <div class="q">What is CodeHub?</div>
    <br>
    CodeHub is your one-stop destination to debugging your faulty code, and forming communities with other like-minded developers.
    <br>
    <br>
    <br>
    <div class="q">How do you access CodeHub?</div>
    <br>
    Sign up, sign in, and you're ready to explore CodeHub.
    <br>
    <br>
    <br>
    <div class="q">How is CodeHub used?</div>
    <br>
    If you have any errors in your code, or are facing any technical issues you can post a question in CodeHub, and attach the faulty code. Community members will get back to you with their solutions.
    <br>
    <br>
    <br>
    <div class="q">How do I know which answer is the correct one?</div>
    <br>
    Community members will be able to 'like' people's answers. Generally, the more likes a solution has the more reliable it is deemed to be. The answer with most likes will be pinned at the top and highlighted.

</p>
</div>
{% endblock %}