{% extends 'base.html' %}
{% block content %}
<div class="bkg">
<h1>FAQ</h1>

<ul class="collapsible">
    <li class="active">
        <div class="collapsible-header">
            <div class="q"><i class="material-icons">arrow_right</i> What is CodeHub?</div>
        </div>
        <div class="collapsible-body">
            <span>CodeHub is your one-stop destination to debugging your faulty code, and forming communities with other like-minded developers.</span>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <div class="q"><i class="material-icons">arrow_right</i> How do you access CodeHub?</div>
        </div>
        <div class="collapsible-body">
            <span>Sign up, sign in, and you're ready to explore CodeHub.</span>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <div class="q"><i class="material-icons">arrow_right</i> How do I know which answer is the correct one?</div>
        </div>
        <div class="collapsible-body">
            <span>Community members will be able to 'like' people's answers. Generally, the more likes a solution has the more reliable it is deemed to be. The answer with most likes will be pinned at the top and highlighted.</span>
        </div>
    </li>
</ul>
</div>
{% endblock %}