{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Hub</title>
    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Static Scripts -->
    <script src="{% static 'scripts/app.js' %}" defer></script>
</head>
<body>
    <nav class="nav-wraper red">
        <div class="container">
            {% load static %}
            <a href="/" class="brand-logo">
                <!--<img class="logo-image" src="{% static 'images/dragon.png' %}" alt="logo">--> <span class="logo-text">Code Hub</span>
            </a>
            <a href="#!" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul id="desktop-links" class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Home</a></li>
                
            </ul>
        </div>
    </nav>

    <ul id="mobile-links" class="sidenav">
    </ul>

    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>

    <footer class="page-footer red">
        <div class="footer-copyright red">
            <div class="container center">Code Hub | © 2023 All Rights Reserved
        </div> 
    </footer>
</body>
</html>