<style>
block con {
    background-image: url 'https://img.freepik.com/premium-vector/binary-code-background_45568-1540.jpg';
}
</style>

{% extends 'base.html' %}
{% block content %}
<div class="bkg">
<h1>What is CodeHub&lt;/&gt; </h1>
<hr>
<p>
    CodeHub is your one-stop destination to debugging your faulty code, and forming communities with other like-minded developers. Sign up, sign in, and you're ready to explore CodeHub&lt;/&gt;
    <br>
    <br>
    <a class="btn blue" href="{% url 'signup' %}">Sign Up</a>
    <br>
    <br>
    <a class="btn blue" href="{% url 'login' %}">Login</a>
</p>
</div>
{% endblock %}