@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Defaults */
html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
    font-family: 'Ubuntu Mono', monospace;
}

main {
    flex: 1 0 auto;
    background: url('/static/images/background/image.jpg');
    background-size: 100%;
    background-position: top;
}

.page-footer{
    padding: 0 !important;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.container{

}

/* Nav Bar */
#navbar{
    z-index: 1;
}

.logo-image{
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

#signin, #signup{
    border-radius: 20px;
    box-shadow: 0;
    border-style: solid;
    border-color: #fafafa;
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px !important;
    transition: all 0.3s ease-in-out;
}

#signin:hover{
    border-color: #fafafa;
    background-color: #fafafa !important;
    color: black;
    transition: all 0.3s ease-in-out;
}

#signup:hover{
    background-color: #212121 !important;
    color: white !important;
    transition: all 0.3s ease-in-out;
}

/* Submit Button */
#submit-btn{
    margin: 20px 0;
    width: 100%;
}

/* Card */
.cardImage{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.card-a{
    color: inherit;
}

/* Quote */
blockquote{
    margin: 0 !important;
    margin-bottom: 20px !important;
    border-color: #dadada !important;
}

/* Hide Rules and help texts */
#signup-form .helptext,
#signup-form ul{
    display: none;
}

/* Profile Container - in Nav Bar */
.profile-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-container img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-container img{
    margin-right: 10px;
}

/* Sub nav */
#sub-nav{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#sub-nav a{
    margin: 5px !important;
}

/* Profile Page */
.profile-header{
    height: auto;
    margin: 10px 0;
}

.profile-header h2{
    margin: 0;
}

.profile-header img{
   width: 150px;
   height: 150px;
   margin-right: 20px;
}

/* Full height class */
.full-height{
    background-color: white;
    min-height: 100%;
    border: solid white;
    padding: 0 20px 40px 20px;
}

/* preview profile image */
#preview-image{
    width : 200px;
    height : 200px;
    object-fit: cover;
    display : block;
    margin : auto;
    border-radius: 50%;
}

/*code block styling*/
pre{
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: auto;
}

code {
    color: rgb(11, 8, 179);
    font-size: 14px !important;
    display: inline-block;
    padding: 10px;
}

pre > code{
    display:block;
}

/* comments user profile */
.comment img{
    width: 50px;
    height: 50px;
}

/* list profile */
.list img{
    width: 25px;
    height: 25px;
    margin: 0 !important;
}

/*ckeditor*/
.django-ckeditor-widget{
    width: 100%;
    margin: auto;
}

#cke_id_body{
    width: 100% !important;
}

/*FAQ*/
.q {
    font-size: large;
    font-weight: 400;
}

label {
    font-size: larger !important;
}

/* tool tip for badges */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

/* row */
.row{
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    margin-top: 10px !important;
    align-items: center;
}
.row .s6 > p{
    text-align: right;
}