{% extends 'base.html' %} 
{% block content %}
<div id="sub-nav">
    {% for category in categories %}
      <a href="/category/{{category.id}}" class="grey darken-4 btn">
        <i class="material-icons left">{{ category.icon_code }}</i> 
        {{category.name}}</a>
    {% endfor %}
</div>

<h1>Question List</h1>
<form style="text-align: left;" method="get" action="">
  {% csrf_token %}
  <div class="input-field">
    <i class="material-icons prefix">search</i>
      <input id="search" name="search" type="text" placeholder="Search..." required>
  </div>
</form>

<div>
  <a class="btn green" href="{% url 'create_question' %}">
    Add Question
    <i class="material-icons left">add</i>
  </a>
</div>
{% if questions.count %}
<table class="striped">
  <thead>
    <!--Table Headers-->
    <tr>
        <th>Question</th>
        <th>User</th>
        <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for question in  questions %}
    <tr>
      <td style="width: 50%;"><a href="{% url 'question_detail' question.id %}">{{ question.title }}</a></td>
      <td>
        {% load static %}
        <div class="profile-container list">
          <a href="{% url 'profile_detail' question.user.id %}">
            <img src="{% if question.user.profile.avatar %}
            {% static question.user.profile.avatar|cut:'main_app/static/' %}
            {% else %}{% static 'images/profile/guest.png' %}{% endif %}" 
            style="vertical-align: middle;">
            <span>{{ question.user.username }}</span>
          </a>
        </div>
      </td>
      <td>{{ question.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p style="text-align: center;">No Questions Found</p>
{% endif %}

<!--Messages-->
{% for message in messages %}
<script>
  M.toast({html: '{{ message }}'})
</script>
{% endfor %}
{% endblock %}