{% extends 'base.html' %} 
{% block content %}
<nav id="sub-nav">
  <ul class="blue-text">
    {% for category in categories %}
    <li> 
      <a href="/category/{{category.id}}" class="grey darken-4 btn">
        <i class="material-icons left">{{ category.icon_code }}</i> 
        {{category.name}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<h1>Question List</h1>
<form style="text-align: center;">
  <div class="input-field" style="display: inline-block; width: 50%;">
    <i class="material-icons prefix">search</i>
      <input id="search" type="text" placeholder="Search..." required>
  </div>
  <div class="input-field" style="display: inline-block;">
    <select>
      <option value="" disabled selected>Category</option>
      {% for category in categories %}
      <option value="{{category.id}}">{{ category.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="input-field" style="display: inline-block;">
    <select>
      <option value="" disabled selected>Sort</option>
      <option value="1">Most Recent</option>
      <option value="2">Most Answered</option>
    </select>
  </div>
</form>
<div><a class="btn blue" href="{% url 'create_question' %}">Add Question</a></div>
<table class="striped">
  <thead>
    <!--Table Headers-->
    <tr>
        <th>Question</th>
        <th>User</th>
        <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for question in  questions %}
    <tr>
      <td style="width: 50%;"><a href="{% url 'question_detail' question.id %}">{{ question.title }}</a></td>
      <td>{{ question.user }}</td>
      <td>{{ question.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock %}