{% extends 'base.html' %}
{% block content %}
<div id="sub-nav">
    <a class="grey darken-4 btn" href="{% url 'profile_update' %}">
      <i class="material-icons left">edit_note</i> Edit Profile
    </a>

    <a class="grey darken-4 btn" href="{% url 'change_password' %}">
      <i class="material-icons left">key</i>
      Change Password</a>

    <a class="grey darken-4 btn" href="{% url 'profile_answer' %}">
      <i class="material-icons left">question_answer</i>
      My Answers</a>
    
    <a class="grey darken-4 btn" href="{% url 'profile_question' %}">
      <i class="material-icons left">quiz</i> 
      My Questions
    </a>
    
    <a class="grey darken-4 btn" href="{% url 'logout' %}">
      <i class="material-icons left">logout</i>
      Logout
    </a>
</div>
{% load static %}
<div class="profile-container profile-header">
    <img src="{% if user.profile.avatar %}{% static user.profile.avatar|cut:'main_app/static/' %}{% else %}{% static 'images/profile/guest.png' %}{% endif %}">
    <h2>{{ user.first_name }}'s Profile</h2>
</div>
<hr>
<h4>Biography</h4>
<div class="bio">
    {% if user.profile.bio %}
    {{ user.profile.bio }}
    {% else %}
    no bio yet...
    {% endif %}
</div>

<hr>

<h4>Badges</h4>
{% if user.profile.badges.count %}
  {% for badges in user.profile.badges.all %}
  <div class="tooltip" style="display: inline-block;">
    <span class="tooltiptext">{{ badges.name }}</span>
    <img width="150" height="150" src="{% static badges.avatar|cut:'main_app/static/' %}">
  </div>   
  {% endfor %}
{% else %}
    <p>No badges for {{ user.first_name }} yet...</p>
{% endif %}

{% for message in messages %}
<script>
  M.toast({html: '{{ message }}'})
</script>
{% endfor %}
{% endblock %}