{% extends 'base.html' %}
{% block content %}
<nav id="sub-nav">
    <ul class="blue-text">
        <li ><a class="grey darken-4 btn" href="{% url 'profile_update' %}"><i class="material-icons left">edit_note</i> Edit Profile</a></li>
        <li ><a class="grey darken-4 btn" href="{% url 'change_password' %}"><i class="material-icons left">key</i> Change Password</a></li>
        <li class="right"><a class="grey darken-4 btn" href="{% url 'logout' %}"><i class="material-icons left">logout</i>Logout</a></li>
    </ul>
</nav>
{% load static %}
<div class="profile-container profile-header">
    <img src="{% if user.profile.avatar %}{% static user.profile.avatar|cut:'main_app/static/' %}{% else %}{% static 'images/profile/guest.png' %}{% endif %}">
    <h2>{{ user.first_name }}'s Profile</h2>
</div>
<hr>
<h4>Biography</h4>
<div class="bio">
    {% if user.profile.bio %}
    {{ user.profile.bio }}
    {% else %}
    no bio yet...
    {% endif %}
</div>

{% for message in messages %}
<script>
  M.toast({html: '{{ message }}'})
</script>
{% endfor %}
<hr>
<div class="row">
    <div class="col s6">
      <h3>Badges</h3>
      {% if user.profile.badges.count %}
        {% for badges in user.profile.badges.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                A <span style="point_limit: {{ badges.point_limit }};">{{ badges.point_limit }} </span>
                {{ badges.name }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'remove_badge' user.profile.id badges.id%}" method="post">
                {% csrf_token %}
                <button id="submit-btn" class="btn waves-effect waves-light red" type="submit" name="Confirm">Remove
                  <i class="material-icons left">cancel</i>
                </button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
          <p>No badges for {{ user.first_name }} yet...</p>
      {% endif %}
    </div>

    <div class="col s6">
      <h3>Available badges</h3>
      {% if badges.count  %}
        {% for badge in badges.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span>{{ badge.point_limit }}</span>
              {{ badge.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'add_badge' user.profile.id badge.id %}" method="post">
              {% csrf_token %}
              <button id="submit-btn" class="btn waves-effect waves-light red" type="submit" name="Confirm">Add
                <i class="material-icons left">add_circle</i>
              </button>
            </form>
          </div>
        </div>
        
        {% endfor %}
      {% else %}
      <p>{{ user.first_name }} all ready has all the badges avaiable...</p>
      {% endif %}
    </div>
  </div>

{% endblock %}